body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:	14px;
  Margin:	0px;
}

.header-nav__container {
  background-color:#026AA7 ;	
  font-size	:16px;
  line-height	:20px;
  Padding:	4px;
  color: white;
  display: flex;
  justify-content: space-between;
  
}

.header-nav__group{
  margin: 1px;
  padding: 0%;

}

.header-nav__group #alerts{
  background-color : #CF513D;
}

@media screen and (max-width: 730px) {
  /* Hide the header search input field. */
  #search { display: none; }
  /* Hide the "Boards" text, but leave the boards icon. */
  .boards-label{ display: none; }
}

.team__container {
  background-color: 	#f4f5f7;
  Padding:	32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__info {
  display: flex;
  flex-direction:	column;
  text-align:	left;
  justify-content: center;
  margin:	0 auto;
  max-width:	650px;
  min-width: none;
}

.team__info > h1{
margin:	0px, 0px, 12px;
font-size: 24px;
font-weight:	600px;
line-height:	28 pixels;
}

.team__info > a{
  color: #172b4d;
  font-weight:	600px;
  line-height:	28 pixels;
  }

  .tabbed-nav__container{
    background-color: #f4f5f7;


  }

  .tabbed-nav__group {

    border-bottom: 1px solid #dfe1e6;
    display: flex;
    justify-content: center;

  }
    /* Background color	white
Border	1px solid #dfe1e6
Border bottom	0
Border radius	2 pixels
Font weight	Bold weight
Line height	20 pixels
Padding	10 pixels
Margin	0 5px
Text color	#172b4d */
  .tabbed-nav__link {

    background-color: white;
    border: 1px solid #dfe1e6;
    border-bottom: 0px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
    margin: 0px 5px;
    color: #172b4d;
    text-align: center;
    justify-content: space-between;
  }


  @media screen and (min-width: 500px) {
    /* Hide the header search input field. */
    /* #search { display: none; } */
    /* Hide the "Boards" text, but leave the boards icon. */
    /* .boards-label{ display: none; } */
  }

  @media screen and (max-width: 500px) {

    .tabbed-nav__group {display: block;}
    .tabbed-nav__link {display: block;}
    
 
    /* Hide the header search input field. */
    /* #search { display: none; } */
    /* Hide the "Boards" text, but leave the boards icon. */
    /* .boards-label{ display: none; } */
  }


  .boards__container{
  margin:	0 auto;
  padding: 	32px;
 max-width: 	1400px;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}


.boards__sidebar{
background-color:#6C547B ;
border-radius: 	3px;
margin: 	0 32px 32px 0;
padding: 	0 20px 32px 20px;
max-height: 	130px;
max-width:  180px;
width: 	20%;
flex-basis: 220px;
}



/* The .boards__sidebar, as a child in a flexbox layout, should indicate that it should not grow or shrink. It should have a basis of 220 pixels. */




.boards__sidebar-content > .title {
  color: white;
}



.boards__sidebar-content > a {
  color: white;

}

.boards__sidebar-content  > .descriptionshould{
color: lightblue;
}

/* The .boards__group should also be a flexbox container that allows its child elements to wrap. It should have a width of 80%. */
.boards__group > * {
  flex-wrap: wrap;
  width: 80%;
}


.boards__board{
  background-color:hotpink ;
  border-radius: 	3px;
  box-sizing: border-box;
  font-weight: bold;
  height: 100px;
  margin: 	0 8px 16px ;
  max-width:  250px;
  padding: 	4px 8px;
  position: relative;
  color: white;
  width: 30%;
  display: flex;
 flex-direction: column;
justify-content: space-between;

}


.board-1 {
  background-image: url(./board-backgrounds/board-1-background.jpg);
}
.board-2 {
  background-image: url(./board-backgrounds/board-2-background.jpg);
}
.board-3 {
  background-image: url(./board-backgrounds/board-3-background.jpg);
}
.board-4 {
  background-image: url(./board-backgrounds/board-4-background.jpg);
}
.board-5 {
  background-image: url(./board-backgrounds/board-5-background.jpg);
}
.board-6 {
  background-image: url(./board-backgrounds/board-6-background.jpg);
}
.board-7 {
  background-image: url(./board-backgrounds/board-7-background.jpg);
}
.board-8 {
  background-image: url(./board-backgrounds/board-8-background.jpg);
}
.board-9 {
  background-image: url(./board-backgrounds/board-9-background.jpg);
}
.board-10 {
  background-image: url(./board-backgrounds/board-10-background.jpg);
}




/* background color of "#CF513D". */


/* Supplied CSS follows. */
.header-nav__group{
  display: flex;
}

.header-nav__button {
  display: inline-flex;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background-color: hsla(0,0%,100%,.3);
  box-shadow: none;
  color: #fff;
  line-height: 32px;
  margin: 0 4px 0 0;
  transition: .1s ease;
  white-space: nowrap;
  padding: 8px;
  height: 20px;
}

.header-nav__button#search > input {
  border-style: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav__button > .boards-label {
  font-weight: 700;
  padding-left: 4px;
}

.header-nav__trello-logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5px;
}

 .header-nav__button > i{
  width: 24px;
}

/* For medium- and large-sized screens, you want the .boards__board elements to layout out with many of them in a row. Create a media query breakpoint for screen sizes with widths greater than 750 pixels and less than or equal to 1280 pixels. For that break point, give each .boards__board a width of 33%. */

@media screen and (min-width: 750px) and (max-width: 1280px){
  .boards__board { width: 33%}
}


/* For small-sized screens, you want the .boards__board elements to stack on top of each other. To do that, create a media query breakpoint for screens less than or equal to 750 pixels in width. For that break point, set the width of the .boards__board elements to 100% and unset the maximum width setting. */

@media screen and (max-width: 750px){

  .boards__board {
    width: 100%;
    max-width: unset;
  }

}